In [1]:
import pandas as pd
import numpy as np

URL = 'https://venturebeat.com/%s-%s-npd'
months = ['July', 'August','September','October', 'November', 'December']
year = '2020'

combine_col = ['Date','Total Video Game Sales','Video Game Hardware','Video Game Content','Video Game Accessories']
combine_df = pd.DataFrame(columns = combine_col)
i = 0

for m in months:
    df = pd.read_html(URL % (m, year))
    if m in ['July', 'October']:
        df[i] = df[i].T
    elif m == 'August':
        df[i] = df[i].T
        df[i] = df[i].drop(df[i].columns[[1,6]], axis=1)
    elif m == 'September':
        df[i] = df[i].T
        df[i] = df[i].drop(df[i].columns[1], axis=1)
    else:
        df[i] = df[i].drop(df[i].columns[1], axis=1).T
        df[i] = df[i].drop(df[i].columns[[1,6]], axis=1)
    df[i] = df[i].rename(columns=df[i].iloc[0]).iloc[1:-1]
    df[i] = df[i].rename(columns={df[i].columns[0] : 'Date', df[i].columns[3] : 'Video Game Content'})
    combine_df = pd.concat([combine_df, df[i]], ignore_index=True)
combine_df

,Date,Total Video Game Sales,Video Game Hardware,Video Game Content,Video Game Accessories
0,Jul’19,"$2,723",$170,"$2,426",$127
1,Jul’20,"$3,587",$166,"$3,251",$170
2,Aug’19,"$2,431",$167,"$2,147",$117
3,Aug’20,"$3,330",$229,"$2,935",$166
4,Sep’19,"$3,929",$241,"$3,541",$148
5,Sep’20,"$4,310",$277,"$3,841",$191
6,Oct’19,"$3,358",$183,"$3,054",$121
7,Oct’20,"$3,836",$259,"$3,429",$148
8,Nov 2019,"$5,162",$897,"$3,974",$291
9,Nov 2020,"$6,973","$1,415","$5,244",$314
10,Dec 2019,"$6,184",$978,"$4,732",$474
11,Dec 2020,"$7,702","$1,350","$5,806",$546

In [2]:
months = ['January','February','March']
year = '2021'

for m in months:
    df = pd.read_html(URL % (m, year))
    df[i] = df[i].drop(df[i].columns[1], axis=1).T
    if m == 'March':
        df[i] = df[i].drop(df[i].columns[4], axis=1)
        df[i] = df[i].rename(columns=df[i].iloc[0]).iloc[1:-1]
        df[i].insert(loc = 0, column='Date', value = ['Mar 2020', 'Mar 2021'])
    else:
        df[i] = df[i].drop(df[i].columns[[1,6]], axis=1)
        df[i] = df[i].rename(columns=df[i].iloc[0]).iloc[1:-1]
    df[i] = df[i].rename(columns={df[i].columns[0] : 'Date', df[i].columns[3] : 'Video Game Content'})
    combine_df = pd.concat([combine_df, df[i]], ignore_index=True)
combine_df

,Date,Total Video Game Sales,Video Game Hardware,Video Game Content,Video Game Accessories
0,Jul’19,"$2,723",$170,"$2,426",$127
1,Jul’20,"$3,587",$166,"$3,251",$170
2,Aug’19,"$2,431",$167,"$2,147",$117
3,Aug’20,"$3,330",$229,"$2,935",$166
4,Sep’19,"$3,929",$241,"$3,541",$148
5,Sep’20,"$4,310",$277,"$3,841",$191
6,Oct’19,"$3,358",$183,"$3,054",$121
7,Oct’20,"$3,836",$259,"$3,429",$148
8,Nov 2019,"$5,162",$897,"$3,974",$291
9,Nov 2020,"$6,973","$1,415","$5,244",$314
10,Dec 2019,"$6,184",$978,"$4,732",$474
11,Dec 2020,"$7,702","$1,350","$5,806",$546
12,Jan 2020,"$3,320",$131,"$3,062",$128
13,Jan 2021,"$4,713",$319,"$4,172",$222
14,Feb 2020,"$3,397",$184,"$3,075",$138
15,Feb 2021,"$4,599",$406,"$3,998",$195
16,Mar 2020,"$4,762",$463,"$4,062",$238
17,Mar 2021,"$5,608",$680,"$4,628",$300

In [3]:
months = ['July', 'August', 'September', 'October', 'December']
year = 2019

df_before_july_col = ['Date', 'Total Video Game Sales', 'Video Games Hardware',
                  'PC & Video Games Software','Video Game Accessories & Game Cards']
df_before_july = pd.DataFrame(columns = df_before_july_col)

for m in months:
    df = pd.read_html(URL % (m, year))
    df[0] = df[0].drop(df[0].columns[1], axis=1).T
    if m in ['July', 'August', 'September']:
        df[0] = df[0].drop(df[0].columns[1], axis=1)
    elif m == 'October':
        df[0] = df[0].drop(df[0].columns[-1], axis=1)
    df[0] = df[0].rename(columns=df[0].iloc[0]).iloc[1:-1]
    df[0].columns = df_before_july_col
    df_before_july = pd.concat([df_before_july, df[0]], ignore_index=True)
df_before_july

,Date,Total Video Game Sales,Video Games Hardware,PC & Video Games Software,Video Game Accessories & Game Cards
0,July’18,$759m,$217m,$253m,$289m
1,July’19,$762m,$169m,$340m,254m
2,Aug’18,$812m,$214m,$341m,$257m
3,Aug’19,$666m,$167m,$257m,$242m
4,Sep’18,$1.396b,$307m,$761m,$328m
5,Sep’19,$1.278b,$240m,$732m,$308m
6,Oct’18,$1.57b,$307m,$983m,$277m
7,Oct’19,$1.03b,$182m,$620m,$231m
8,Dec’18,$3.494b,"$1,168m","$1,314m","$1,012m"
9,Dec’19,$2.984b,$973m,"$1,141m",$869m

In [4]:
months = ['January','February','March', 'April', 'May', 'June']
year = '2020'

for m in months:
    df = pd.read_html(URL % (m, year))
    if m in ['May','June']:
        df[0] = df[0].drop(index=1).T
    elif m in ['March', 'April']:
        df[0] = df[0].drop(df[0].columns[1], axis=1).T
        df[0] = df[0].drop(df[0].columns[1], axis=1)
    else:
        df[0] = df[0].drop(df[0].columns[1], axis=1).T
    df[0] = df[0].rename(columns=df[0].iloc[0]).iloc[1:-1]
    df[0].columns = df_before_july_col
    df_before_july = pd.concat([df_before_july, df[0]], ignore_index=True)
df_before_july

,Date,Total Video Game Sales,Video Games Hardware,PC & Video Games Software,Video Game Accessories & Game Cards
0,July’18,$759m,$217m,$253m,$289m
1,July’19,$762m,$169m,$340m,254m
2,Aug’18,$812m,$214m,$341m,$257m
3,Aug’19,$666m,$167m,$257m,$242m
4,Sep’18,$1.396b,$307m,$761m,$328m
5,Sep’19,$1.278b,$240m,$732m,$308m
6,Oct’18,$1.57b,$307m,$983m,$277m
7,Oct’19,$1.03b,$182m,$620m,$231m
8,Dec’18,$3.494b,"$1,168m","$1,314m","$1,012m"
9,Dec’19,$2.984b,$973m,"$1,141m",$869m
10,Jan’19,$918m,$199m,$451m,$268m
11,Jan’20,$678m,$129m,$311m,$238m
12,Feb’19,"$1,061m",$277m,$477m,$308m
13,Feb’20,$755m,$183m,$307m,$265m
14,Mar’19,"$1,186m",$282m,$550m,$354m
15,Mar’20,"$1,597m",$461m,$739m,$397m
16,Apr’19,$846,$160,$428,$258
17,Apr’20,"$1,466",$420,$662,$384
18,May ’19,$642,$150,$262,$230
19,May ’20,$977,$235,$438,$304
20,Jun’19,$934,$231,$382,$322
21,Jun’20,"$1,178",$191,$570,$417

In [5]:
combine_df.to_csv('./Datasets/gamesales(July_2020_March_2021).csv')
df_before_july.to_csv('./Datasets/gamesales(Jan_2020_June_2020).csv')